<p class="title-pages">Offers</p>

<% offers.forEach((offer)=> { %>
<div class ="offers-container">
  <div class="rest-name"><%= offer.name %></div>
    <div class="rest-info">
      <table>
        <tbody>
        <tr>
        <td>Deal:</td>
        <td><%= offer.dealname %></td>
        </tr>
        <tr>
        <td>Price:</td>
        <td><%= offer.price + ' €'%></td>
        </tr>
        <tr>
        <td>Quantity left:</td>
        <td> <%= offer.quantity + ' Coupons' %></td>
        </tr>
        </tbody>
        </table> 
    </div>
    <% if (user.role === "BUYER"){ %>
      <div class="button-div">
        <form action="/getcoupon/<%= offer._id%>" method="post">
          <input name="buy" class=" btn btn-warning" type="submit" value="Buy Offer">
          </form>
      </div>
    <% } %>
</div>
<% }); %>












