<div class="title-page-deg">
<p class="title-pages">Offers</p>
</div>
<% offers.forEach((offer)=> { %>
<div class ="offers-container">
  <div class="rest-name"><%= offer.name %></div>
    <div class="rest-info">
      <div class="offer-div">
        <p>Deal:</p>
        <p>Price:</p>
        <p>Quantity left:</p>
      </div>
      <div class="result-div">
        <p><%= offer.dealname %></p>
        <p><%= offer.price + ' €'%></p>
        <p><%= offer.quantity + ' Coupons' %></p>
      </div>
    </div>
    <% if (user.role === "BUYER"){ %>
      <div class="button-div">
        <form action="/getcoupon/<%= offer._id%>" method="post">
          <input name="buy" id="review-btn" class="btn btn-warning " type="submit" value="Buy Offer">
          </form>
      </div>
      <% }else { %>
    
    <% }; %>
</div>
<% }); %>












