<div class="title-page-deg">
  <p class="title-pages">My Dashboard</p>
</div>
<div class="container">
    <div class="main-create">
       
Create New Offer <button id="create-btn">Create</button>

<form id="offer-container" style="display:none" action="/my-offers" method="POST">

  <div class="form-group ">
    <label for="dealName">Coupon Name: </label>
    <input type="text"  class="form-control"  name="dealName" required>
  </div>

  <div class="form-group ">
    <label for="price">Price for Offer:</label>
    <input type="number"  class="form-control"  name="price" required>
  </div>

  <div class="form-group ">
    <label for="quantity">Quantity of Deals Available: </label>
    <input type="number"  class="form-control"  name="quantity" required>
  </div>

  <div class="form-group">
    <input type="submit" class="btn-success" value="Create">
  </div>

</form>
</div>
</div>

<!-- here goes the list of my offers -->




    <% offers.forEach((offer, id)=> { %>
  <div class="container">
    <div class ="offers-container">
      <b><%= id + 1 %></b><div class="rest-info">
          <div class="offer-div">
            <p>Deal:</p>
            <p>Price:</p>
            <p>Quantity left:</p>
          </div>
          <div class="result-div">
            <p><%= offer.dealname %></p>
            <p><%= offer.price + ' €'%></p>
            <p><%= offer.quantity + ' Coupons' %></p>
          </div>
        
        </div>
    </div>
    
</div>
<% }); %> 















<!-- 

<div class="offer-wrapper">
  <% offers.forEach((offer)=> { %>
    <div class="offer-single">
      <h4>
        <%= offer.name %>
      </h4>
      <p>
          Deal:
        <%= offer.dealname %>
      </p>
      <p>
        Price:
        <%= offer.price %>
      </p>
      <p>
        Quantity left:
        <%= offer.quantity %>
      </p>
    </div>
    <% }); %>
</div> -->

<script src="/javascripts/create-offer.js"></script>
